<!-- Orbit Container -->
<div class="orbit-container">
  <ul data-orbit="" class="orbit-slides-container">
    <li>
  
      <%= image_tag('pic1.jpg') %>
      <div class="orbit-caption">
      	<p>
      		Uhuru Park,Nairobi.
      	</p>
      </div>
    </li>
    <li class="active">
      <%= image_tag('pic2.jpg') %>
      <div class="orbit-caption">
      	<p>
      		Central Park,Nairobi.
      	</p>
      </div>
    </li>
    <li>
      <%= image_tag('pic6.jpg') %>
      <div class="orbit-caption">
      	<p>
      		City Market, Nairobi.
      	</p>
      </div>
    </li>
    <li>
      <%= image_tag('pic4.jpg') %>
      <div class="orbit-caption">
      	<p>
      		Imax,Nairobi.
      	</p>
      </div>
    </li>
    <li>
      <%= image_tag('pic5.jpg') %>
      <div class="orbit-caption">
      	<p>
      		Inside IMax,Nairobi.
      	</p>
      </div>
    </li>
    <li>
    	<%= image_tag('njooh.jpg') %>
      
      <div class="orbit-caption">
      	<p>
      	Njooh is an interactive travel platform that incorporates information, 
      	blogs and reviews about places in an easily accessible database for a traveler.
      </p>
      </div>
    </li>
  </ul>
</div>
