<!-- Orbit Container -->
<div class="orbit-container">
  <ul data-orbit="" class="orbit-slides-container">
    <li>
  
      <%= image_tag('demo3.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li class="active">
      <%= image_tag('demo1.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <%= image_tag('demo2.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <%= image_tag('demo3.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <%= image_tag('demo1.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
  </ul>
</div>
