<!-- Orbit Container -->
<div class="orbit-container">
  <ul data-orbit="" class="orbit-slides-container">
    <li>
  
      <%= image_tag('demo3.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li class="active">
      <%= image_tag('demo1.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <%= image_tag('demo2.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li>
      <%= image_tag('demo3.jpg') %>
      <div class="orbit-caption">...</div>
    </li>
    <li>
    	<%= image_tag('njooh.jpg') %>
      
      <div class="orbit-caption">
      	<p>
      	Njooh is an interactive travel platform that incorporates information, 
      	blogs and reviews about places in an easily accessible database for a traveler.
      </p>
      </div>
    </li>
  </ul>
</div>
