<% provide(:title,'Sign Up')%>
<div class="row">
  <div class="large-8 columns">
  	<% if mobile_request? %>
	  <p class="subheader">Welcome,</p>
	<% else %>
	  <%= render 'layouts/general/slideshow' %>
	<% end %>
  </div>
  <div class="large-4 columns">
	<h2>Sign up</h2>
	
	<%= render 'layouts/general/messages' %>
	
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>
	
	  <div class="form-inputs">
	    <%= f.input :email, :required => true, :autofocus => true %>
	    <%= f.input :name, :required => true %>
	    <%= f.input :password, :required => true %>
	    <%= f.input :password_confirmation, :required => true %>
	  </div>
	
	  <div class="form-actions">
	    <%= f.button :submit, "Sign up" %>
	  </div>
	<% end %>
	
	<%= render "devise/shared/links" %>
	</div>
</div>

<div class="row">
	<%= render 'layouts/general/places' %>
</div>

