<% provide(:title,@user.name)%>
<div class="row">
	
  <div class="large-2 columns">
  	<p>#User</p>
  	<h6 class="subheader"><%= @user.name%></h6>
  	<%= gravatar_for @user %>
  </div>
  
  <div class="large-8 columns">
  	<%= render 'follow_form' if user_signed_in? %>
  	<% if @user.microposts.any? %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		
		<%= will_paginate @microposts %>
	<% end %>
  </div>
  
  <div class="large-2 columns">
  	<p>#Bizness</p>
  </div>
  
</div>
