  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
	
	<div class="clearfix">
    <h4>Select Places Images</h4>
    
		<%= f.fields_for :assets do |asset_fields| %>
		
			<% if asset_fields.object.new_record? %>
			<p>
				<%= asset_fields.file_field :asset %>
				<%= asset_fields.text_field :caption, :class => 'text_area',:placeholder =>'Image caption' %>
			</p>
			<% end %>
		
		<% end %>
	</div>
	
	<div class="clearfix">
	    <h4>Place Images</h4>	
		<ul class="thumbnails">
			<%= f.fields_for :assets do |asset_fields| %>
				<% unless asset_fields.object.new_record? %>
				  <li class="span4">
				    <div class="thumbnail">
				      <%= link_to image_tag(asset_fields.object.asset.url(:large)), '#' %>
					  <%= asset_fields.check_box :_destroy %>	
				      <h3>
				      	<%= @place.name %>
				      </h3>
				      <p>
				      	<%= truncate(strip_tags(asset_fields.object.caption),:length => 100) %>
				      </p>
				    </div>
				  </li>
				<% end %>
			<% end %>
		</ul>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>

